/* color Start */

.kw .cl-727272 {
    color: #727272;
}

.kw .cl-ffffff {
    color: #ffffff;
}

.kw .cl-000000 {
    color: #000000;
}

.kw .cl-d12b8a {
    color: #d12b8a;
}

.kw .bg-f7f7f7 {
    background: #f7f7f7;
}


/* color End */