.kw .c-htoplink {
    background-image: url("../images/1\ PX.png");
    background-repeat: repeat-y;
    height: 44px;
    background-size: contain;
}

.kw .c-htoplink .c-htoplinkcontainer {
    font-size: 0;
}

.kw .c-htoplink .c-htoplinkcontainer--cbtn,
.kw .c-htoplink .c-htoplinkcontainer--nbtn {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 44px;
    padding: 10px 27px;
}

.kw .c-htoplink .c-htoplinkcontainer--cbtn:hover,
.kw .c-htoplink .c-htoplinkcontainer--cbtn.active {
    text-decoration: none;
    background: #d12b8a;
}

.kw .main_search.close-search {
    display: none;
}

.kw .main_search {
    width: 40%;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.kw .main_search .btn {
    position: absolute;
    top: 5px;
    right: 15px;
}

.kw .main_search input {
    border: 0;
    padding: 20px 120px 20px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 22px;
    display: block;
    margin: auto;
}

.kw .signed-in .c-htoplink {
    background: #fff;
}

.kw .signed-in .c-htoplink .c-htoplinkcontainer--cbtn {
    color: #d12b8a;
}

.kw .signed-in .c-htoplink .c-htoplinkcontainer--nbtn {
    color: #000;
}

.kw .signed-in .c-htoplink .c-htoplinkcontainer--cbtn:hover,
.kw .signed-in .c-htoplink .c-htoplinkcontainer--cbtn.active {
    text-decoration: none;
    background: #d12b8a;
    color: #fff;
}

.kw .signed-in .c-htoplink .c-htoplinkcontainer--cbtn:hover,
.kw .signed-in .c-htoplink .c-htoplinkcontainer--cbtn.active {
    background: #d12b8a;
}

.kw .signed-in #wrapper .c-rightlinks-container .profile-navbar {
    display: inline-block;
    vertical-align: middle;
}

.kw .signed-in #wrapper .profile-navbar .dropdown-menu {
    width: 100%;
    top: -5px !important;
    padding: 0;
}

.kw .signed-in #wrapper .profile-navbar a {
    margin-top: 0;
    display: inline-block;
    padding: 12px 40px 12px 20px;
}

.kw .signed-in #wrapper .profile-navbar .dropdown-menu .dropdown-item.active,
.kw .signed-in #wrapper .profile-navbar .dropdown-menu .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #d12b8a;
}

.kw .signed-in #wrapper .profile-navbar .rounded-circle {
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    float: left;
    width: 44px;
    height: 44px;
}

.kw .signed-in #wrapper .profile-navbar .profile-info {
    float: left;
    margin-left: 10px;
    color: #fff;
    text-align: left;
}

.kw .signed-in #wrapper .profile-navbar span.downarrow::before {
    content: "";
    height: 9px;
    width: 9px;
    position: absolute;
    bottom: 22px;
    right: 15px;
    border: 3px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    border-radius: 3px;
}

.kw .signed-in #wrapper .profile-navbar span.downarrow {
    /* margin-right: 10px; */
    top: 60px;
    /* transform: translateY(-50%); */
    position: absolute;
    color: #fff;
    right: 0;
    /* position: absolute; */
}

.kw .signed-in #wrapper .profile-navbar .dropdown-toggle:after {
    display: none;
}

.kw #wrapper .c-dropdown--transparent .form-control {
    background: transparent;
    border: 0 none;
    color: #ffffff;
}

.kw #wrapper .c-dropdown--transparent select.form-control option {
    color: #000000;
}

.kw #wrapper .c-dropdown--transparent select+span.downarrow::before {
    border: 3px solid #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
}