.kw #wrapper .heading h3 {
    font-size: 48px;
    font-weight: 900;
}

.kw #wrapper .heading p {
    font-size: 24px;
}

.kw #wrapper .seperator {
    background: #d12b8a;
    height: 2px;
    width: 100%;
}

.kw #wrapper .result {
    padding: 0 0 16px 0;
    color: #d12b8a;
}

.kw #wrapper .max-w-100 {
    max-width: 100% !important;
}

.kw #wrapper .kw #wrapper .inner-main-section-sm {
    padding: 20px 0;
    margin: 0;
}

.kw #wrapper .mb-30 {
    margin-bottom: 30px;
}

.kw #wrapper .content .dropdown-toggle {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 700;
    padding: 12px 22px;
}

.kw #wrapper .content .dropdown-toggle .btn {
    font-size: 16px;
    font-weight: bold;
}

.kw #wrapper .content .dropdown-toggle::after {
    display: none;
}

.kw #wrapper .product-listing {
    margin-top: 45px;
}

@media (min-width: 1920px) {
    .kw #wrapper .product-listing {
        margin-left: -35px;
        margin-right: 0;
    }
}

.kw #wrapper .product-listing .product {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-bottom: 95px;
    padding: 35px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    min-height: 585px;
}

.kw #wrapper .product-listing .product h4 {
    font-weight: 700;
    font-size: 34px;
}

.kw #wrapper .product-listing .product .info {
    margin-bottom: 10px;
}

.kw #wrapper .product-listing .product .info h5 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    color: #000000;
    text-transform: none;
    margin-bottom: 0;
}

.kw #wrapper .product-listing .product .info h5 span.strike {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
    letter-spacing: 0.32px;
    text-align: left;
    color: #727272;
    text-transform: none;
    text-decoration: line-through;
}

.kw #wrapper .product-listing .product .info h5 span {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.36;
    letter-spacing: 0.56px;
    color: #000000;
    text-transform: none;
    margin-right: 8px;
}

.kw #wrapper .product-listing .product .info h5 span.icon {
    /* font-size: 30px; */
    margin-left: 12px;
    padding: 0 12px;
    position: relative;
    /* line-height: normal; */
    width: 30px;
    height: 30px;
    color: #6f6d71;
}

.kw #wrapper .product-listing .product .info h5 span.icon:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 1px;
    height: 60px;
    background: #000000;
}

.kw #wrapper .product-listing .product button {
    border: 1px solid #d12b8a;
    color: #d12b8a;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.kw #wrapper .product-listing .product button:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #d12b8a;
}

.kw #wrapper .product-listing .product.recommended button.btn-pc-2 {
    border: 1px solid #fff;
}

.kw #wrapper .product-listing .product.recommended button.btn-pc-2:hover {
    border-color: #d12b8a;
    color: #ffffff;
    background-color: #d12b8a;
}

.kw #wrapper .product-listing .product {
    position: relative;
}

.kw #wrapper .product-listing .product .fav-comp {
    position: absolute;
    top: 22px;
    right: 22px;
    text-align: right;
    font-size: 14px;
    color: #fff;
    width: calc(100% - 35px);
    overflow: hidden;
}

.kw #wrapper .product-listing .product .fav-comp .favourite,
.kw #wrapper .product-listing .product .fav-comp .compare {
    position: relative;
    margin-bottom: 10px;
    line-height: 30px;
    cursor: pointer;
}

.kw #wrapper .favourite .icon,
.kw #wrapper .compare .icon {
    width: 44px;
    height: 44px;
    border: solid 1px #e3e3e3;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    display: inline-block;
    color: #fff;
    background: #e3e3e3;
}

.kw #wrapper .compare .icon {
    border: solid 1px #727272;
    color: #727272;
    background: #fff;
}

.kw #wrapper .options .text {
    width: 0px;
    text-align: left;
    background: rgba(209, 43, 138, 0.8);
    position: absolute;
    right: 10px;
    top: 0px;
    border-radius: 25px 0 0 25px;
    visibility: hidden;
    /* transform: translateX(200px); */
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.36;
    letter-spacing: 0.84px;
    color: #ffffff;
    padding: 13px 13px 12px;
}

.kw #wrapper .product-listing .product:hover .options.favourite .icon {
    background: #d12b8a;
    color: #fff;
    border-color: #d12b8a;
}

.kw #wrapper .product-listing .product .options.favourite.active .icon {
    background: #fff;
    color: #d12b8a;
    border-color: #d12b8a;
}

.kw #wrapper .product-listing .product .options.favourite.active .icon:before {
    content: "";
}

.kw #wrapper .product-listing .product:hover .options.compare .icon,
.kw #wrapper .product-listing .product .options.compare.active .icon {
    background: #fff;
    color: #727272;
    border-color: #727272;
}

.kw #wrapper .product-listing .product.recommended {
    position: relative;
    overflow: hidden;
}

.kw #wrapper .product-listing .product.recommended .image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.kw #wrapper .product-listing .product.recommended .image img {
    width: 110%;
    height: 120%;
    max-height: 120%;
    margin-left: -5%;
    margin-top: -5%;
}

.kw #wrapper .product-listing .product.recommended .details {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 32px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    min-height: 270px;
}

.kw #wrapper .product-listing .product.recommended:hover .image img {
    opacity: 1;
}

.kw #wrapper .kw #wrapper .product-listing .product.recommended .details h4,
.kw #wrapper .kw #wrapper .product-listing .product.recommended .details p,
.kw #wrapper .kw #wrapper .product-listing .product.recommended h5,
.kw #wrapper .kw #wrapper .product-listing .product.recommended h5 span {
    color: #fff;
}

.kw #wrapper .product-listing .product.recommended .details .recommended-tag {
    position: absolute;
    top: -9px;
    width: 100%;
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.35px;
    border-radius: 0;
    display: block;
}

.kw #wrapper .product-listing .product.recommended .details .recommended-tag span {
    background: #fff;
    color: #000;
    padding: 4px 20px;
    position: relative;
}

.kw #wrapper .product-listing .product.recommended .details .recommended-tag span:after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 30px solid #ffffff;
    border-left: 15px solid transparent;
    left: -15px;
}

.kw #wrapper .product-listing .product:hover .image img {
    opacity: 0.2;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.kw #wrapper .product-listing .product:hover .options .text {
    width: 220px;
    visibility: visible;
    /* transform: translateX(0px); */
    padding-left: 17px;
    white-space: nowrap;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    margin-right: 10px;
}

.kw #wrapper .product-listing .product .tag {
    display: none;
}

.kw #wrapper .product-listing .product.product-tag .tag,
.kw #wrapper .product-listing .product.product-tag .on-sale-tag {
    position: absolute;
    top: -29px;
    right: 0;
    background: #23b7c0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 30px;
    line-height: 1.38;
    letter-spacing: 0.35px;
    border-radius: 0 5px 0 0;
    display: block;
}

.kw #wrapper .product-listing .product.on-sale {
    border: 1px dashed #000000;
}

.kw #wrapper .product-listing .product .on-sale-tag {
    background: #70489d;
}

.kw #wrapper .product-listing .product.product-tag {
    border-radius: 10px 0 10px 10px;
    -webkit-border-radius: 10px 0 10px 10px;
    -moz-border-radius: 10px 0 10px 10px;
    -o-border-radius: 10px 0 10px 10px;
}

.kw #wrapper .product-listing .product.product-tag .tag:after,
.kw #wrapper .product-listing .product.product-tag .on-sale-tag:after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 29px solid #23b7c0;
    border-left: 15px solid #fff;
    left: -15px;
}

.kw #wrapper .product-listing .product.product-tag .on-sale-tag {
    background: #000000;
}

.kw #wrapper .product-listing .product.product-tag .on-sale-tag:after {
    border-bottom-color: #000000;
}

.kw #wrapper .compare .text {
    background: rgba(114, 114, 114, 0.8);
}

.kw #wrapper .icon-Drop-Down {
    font-size: 6px;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

.kw #wrapper .product-listing .product .image {
    text-align: center;
    margin-bottom: 25px;
}

.kw #wrapper .product-listing .product .image img {
    max-height: 289px;
}

.kw #wrapper .product-listing .product .details h4 {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: 0.68px;
    color: #000000;
    text-transform: none;
    margin-bottom: 7px;
}

.kw #wrapper .product-listing .product .details .ratting {
    margin-bottom: 15px;
}

.kw #wrapper .product-listing .product .details p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    color: #000000;
    margin-bottom: 0;
}

.kw #wrapper label.title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}


/*------------------------------------------------------------
    Placeholder
--------------------------------------------------------------*/

::-webkit-input-placeholder {
    color: #727272;
    font-size: 16px;
}

::-moz-placeholder {
    color: #727272;
    font-size: 16px;
}

:-ms-input-placeholder {
    color: #727272;
    font-size: 16px;
}

:-moz-placeholder {
    color: #727272;
    font-size: 16px;
}

.kw #wrapper .filters {
    margin-bottom: 50px;
}

@media (min-width: 1920px) {
    .kw #wrapper .filters {
        margin-bottom: 50px;
        margin-left: -194px;
        margin-right: 89px;
    }
}

.kw #wrapper .filters .filter-option-group {
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid #e3e3e3;
}

.kw #wrapper .filters .filter-option-group:first-child {
    padding: 0 0 32px 0;
}

.kw #wrapper .filters .filter-option-group:last-child {
    border-bottom: none;
}

.kw #wrapper .filters .form-control {
    padding: 11px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    border: 1px solid #e3e3e3;
    border-radius: 0.25rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.kw #wrapper .filters .btn {
    padding: 14px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    color: #000000;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.kw #wrapper .filters .input-group input.form-control {
    border-right: none;
}

.kw #wrapper .star {
    color: #e3e3e3;
}

.kw #wrapper .star.active {
    color: #ffce00;
}

.kw #wrapper .filters .input-group .seperator+input.form-control {
    border-left: none;
}

.kw #wrapper .filters .input-group .seperator {
    content: "";
    width: 1px;
    height: 23px;
    background: #707070;
    margin: 13px 0 0;
    opacity: 0.22;
}

.kw #wrapper .filters .seperator {
    background: #e3e3e3;
    height: 1px;
    width: 100%;
    margin: 32px 0;
}

.kw #wrapper .filters .filter-option-group .checkbox-wrapper:last-child label {
    margin-bottom: 0;
}

.kw #wrapper .checkbox {
    position: absolute;
    left: -9999px;
}

.kw #wrapper .checkbox+label {
    position: relative;
    display: inline-block;
    padding: 1px 34px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
    letter-spacing: 0.32px;
    color: #727272;
    margin-bottom: 16px;
}

.kw #wrapper .checkbox+label:before,
.kw #wrapper .checkbox+label:after {
    position: absolute;
    top: 0;
    content: "";
    border-radius: 1px;
}

.kw #wrapper .checkbox+label:before {
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #e3e3e3;
    background: #fff;
    border-radius: 2px;
}

.kw #wrapper .checkbox+label:after {
    width: 0;
    height: 0;
}

.kw #wrapper .checkbox:checked+label {
    font-weight: bold;
    color: #000000;
}

.kw #wrapper .checkbox:checked+label:before {
    border-color: #d12b8a;
    background-color: #d12b8a;
}

.kw #wrapper .checkbox:checked+label:after {
    width: 14px;
    height: 14px;
    top: 1px;
    left: 4px;
    color: #fff;
    font-family: "icomoon" !important;
    content: "";
    font-weight: normal;
    font-size: 14px;
}

.kw #wrapper .checkbox:disabled+label {
    color: #ccc;
}

.kw #wrapper .checkbox:disabled+label:before {
    border-color: #ccc;
    background-color: #f2f2f2;
    box-shadow: none;
}

.kw #wrapper .checkbox:disabled+label:after {
    width: 0;
    height: 0;
}

.kw #wrapper .product-listing-more .view-all {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.38;
    letter-spacing: 0.96px;
    color: #d12b8a;
}

.kw #wrapper .product-listing-more .view-all .icon {
    display: block;
    font-size: 22px;
    font-weight: 800;
    margin-top: 10px;
}

.kw #wrapper .product-listing-more .view-all:hover {
    text-decoration: none;
    color: #000;
}